<div class="container">
  <div class="avatar">
    <div class="circle">
      <div class="circle-pic"></div>
    </div>
    <div class="avatar-right">
      <div class="name">example</div>
      <div class="mail">example gmail.com</div>
    </div>
  </div>
  <div class="avatar">
    <div class="circle">
      <div class="circle-pic"></div>
    </div>
    <div class="avatar-right">
      <div class="name">example</div>
      <div class="mail">example gmail.com</div>
    </div>
  </div>
  <div class="avatar">
    <div class="circle">
      <div class="circle-pic"></div>
    </div>
    <div class="avatar-right">
      <div class="name">example</div>
      <div class="mail">example gmail.com</div>
    </div>
  </div>
  <div class="avatar">
    <div class="circle">
      <div class="circle-pic"></div>
    </div>
    <div class="avatar-right">
      <div class="name">example</div>
      <div class="mail">example gmail.com</div>
    </div>
  </div>
  <div class="avatar">
    <div class="circle">
      <div class="circle-pic"></div>
    </div>
    <div class="avatar-right">
      <div class="name">example</div>
      <div class="mail">example gmail.com</div>
    </div>
  </div>
</div>
