.avatar {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%; // 設置為 100% 寬度
  max-width: 350px; // 設置最大寬度
  height: 70px;
}

.avatar-left {
  margin-right: 20px;
  flex: 1.5;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-right {
  flex: 8.5;
  line-height: 1;
  position: relative;
}
.info-top {
  position: absolute;
  top: -14px;
  right: -4px;
  display: flex;
  gap: 8px;
}

.badge {
  padding: 4px 8px;
  background-color: #007bff;
  color: white;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.avatar-right .name {
  font-size: 18px;
  font-weight: bold;
}

.avatar-right .email,
.avatar-right .phone {
  font-size: 18px;
  color: #666;
  margin: 2px 0;
  display: flex;
  align-items: center;
}

mat-icon {
  height: 18px;
  width: 18px;
  text-align: center;
  margin-right: 5px;
  font-size: 18px;
}
