<div class="card">
  <div class="card-header">
    <div class="circle">
      {{ user.name[0] }}
    </div>
    <div class="name">
      <p>{{ user!.name }}</p>
    </div>
  </div>
  <div class="card-body">
    <div class="email"><mat-icon>email</mat-icon>{{ user.email }}</div>
    <div class="phone"><mat-icon>call</mat-icon>{{ user.phone }}</div>
    <div class="military">
      <div class="info-military">
        <mat-icon>badge</mat-icon>
        <div class="job-title">{{ user.jobTitle }}</div>
        <mat-icon>military_tech</mat-icon>
        <div class="job-rank">{{ user.jobRank }}</div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="work-from-home">{{ user.remoteWorkEligibility }}</div>

    <div class="annual-leave">
      <mat-icon>local_cafe</mat-icon>
      <div class="annual-leave-num">{{ user.remainingLeaveHours }}</div>
    </div>
  </div>
</div>
