<div class="easy-card" (click)="openUserProfileDialog()">
  <div class="easy-card-left">
    <div class="circle">
      {{ user.name[0] }}
    </div>
    <div class="name">
      <p>{{ user!.name }}</p>
    </div>
  </div>
  <div class="easy-card-middle">
    <div class="email">
      <mat-icon>email</mat-icon>
      <span>
        {{ user.email }}
      </span>
    </div>
    <div class="phone"><mat-icon>call</mat-icon>{{ user.phone }}</div>
    <div class="job">
      <div class="info-job">
        <mat-icon>badge</mat-icon>
        <div class="job-title">{{ user.jobTitle }}</div>
        <mat-icon>military_tech</mat-icon>
        <div class="job-rank">{{ user.jobRank }}</div>
      </div>
    </div>
  </div>

  <div class="easy-card-right">
    <div class="work-from-home">{{ user.remoteWorkEligibility }}</div>
    <div class="local_cafe-layout">
      <mat-icon [matBadge]="user.remainingLeaveHours" aria-hidden="false">local_cafe</mat-icon>
    </div>
  </div>
</div>
