<div class="container d-flex justify-content-center align-items-center h-75">
  <form
    class="d-flex flex-column gap-3"
    [formGroup]="loginForm"
    novalidate
    (ngSubmit)="login()"
  >
    <h3>登入</h3>
    <mat-form-field appearance="outline">
      <mat-label>電子郵件</mat-label>
      <input type="email" matInput formControlName="email" />
      <mat-icon matSuffix>mail</mat-icon>
      <mat-hint>請輸入電子郵件</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>密碼</mat-label>
      <input
        [type]="passwordVisible() ? 'text' : 'password'"
        matInput
        formControlName="password"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="passwordVisibleToggle($event)"
        [attr.aria-label]="'隱藏密碼'"
        [attr.aria-pressed]="!passwordVisible()"
      >
        <mat-icon>{{
          passwordVisible() ? "visibility" : "visibility_off"
        }}</mat-icon>
      </button>
      <mat-hint>請輸入密碼</mat-hint>
    </mat-form-field>
    <button type="submit" mat-flat-button [disabled]="loginForm.invalid">
      登入
    </button>
    <mat-divider></mat-divider>
    <p>
      還沒有帳號？
      <a
        class="link-offset-2 link-underline link-underline-opacity-0"
        [routerLink]="['/Register']"
        >立即註冊</a
      >
    </p>
  </form>
</div>
