<!-- <div class="content">
  @if(loggedIn()) {
  <h3>feature: logout</h3>
  <button type="button" (click)="logout()">Logout</button>
  } @else {
  <h3>feature: register</h3>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email" />
    <label for="password">Password: </label>
    <input id="password" type="password" formControlName="password" />
    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!registerForm.valid">Send</button>
  </form>

  <h3>feature: login</h3>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email" />
    <label for="password">Password: </label>
    <input id="password" type="password" formControlName="password" />
    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!loginForm.valid">Send</button>
  </form>

  <h3>feature: forgot password</h3>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email" />
    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!forgotPasswordForm.valid">Send</button>
  </form>
  }
</div>
<div>task 1-{{ content }}</div>
<div>代辦事項狀態:{{ state }}</div>
<button
  type="button"
  [disabled]="state === 'none'"
  (click)="onSetState('none')"
>
  未安排
</button>

<button
  type="button"
  [disabled]="state === 'finish'"
  (click)="onSetState('finish')"
>
  已完成
</button>
<button
  type="button"
  [disabled]="state === 'doing'"
  (click)="onSetState('doing')"
>
  進行中
</button>
<p></p>
<input type="checkbox" [checked]="isChecked" (change)="toggleChecked()" />
<p>複選框狀態 :{{ isChecked ? "選取" : "未選取" }}</p> -->

<app-avatar></app-avatar>

<!-- 新avatar -->
<div class="container">
  <div class="content">
    <div class="name">yuuu</div>
    <div class="info-content">
      <div class="email"><mat-icon>email</mat-icon>wc8183182/gmail.com</div>
      <div class="phone"><mat-icon>call</mat-icon>0919-094-765</div>
    </div>
  </div>
  <div class="circle-left">
    <div class="job-title">InFra</div>
    <div class="SmallCircle-left"></div>
  </div>
  <div class="circle-right">
    <div class="SmallCircle-right">
      <div class="annual-leave">123</div>
    </div>
  </div>
</div>
