<!-- Nav -->
<mat-toolbar>
  <a mat-button [routerLink]="['/']">
    <span class="brand-logo"></span>
    BRAND LOGO
  </a>
  <span class="menu-spacer"></span>
  <div class="d-none d-md-block">
    @if(isAdmin$ | async) {
    <a mat-button [routerLink]="['/SystemConfig']">System config</a>
    }
    <a mat-button [routerLink]="['/Users']">Users</a>
  </div>
  <span
    class="avator"
    [style.margin.px]="'0 10'"
    [style.backgroundImage]="'url(https://placehold.co/36x36)'"
    [matMenuTriggerFor]="profileMenu"
  >
    @if((currentUser$ | async)?.photoUrl) {
    <img
      [src]="(currentUser$ | async)?.photoUrl"
      alt="User Avatar"
      class="avator"
    />
    }
  </span>
</mat-toolbar>
<!-- Main content -->
<div class="container-fluid pt-2">
  <router-outlet></router-outlet>
</div>
<!-- Profile menu -->
<mat-menu #profileMenu>
  <button mat-menu-item [routerLink]="['/MyProfile']">
    <mat-icon>account_circle</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
