.menu-spacer {
  flex: 1 1 auto;
}

.avator {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-size: cover;
}

.brand-logo {
  width: 36px;
  height: 36px;
  background-image: url("/icons8-lightweight-48.png");
  background-size: cover;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
