<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="mat-typography">
  <form
    class="d-flex flex-column gap-3"
    [formGroup]="attendanceForm"
    novalidate
  >
    <!-- Requester -->
    <mat-form-field>
      <mat-label>Requester</mat-label>
      <mat-select
        formControlName="userId"
      >
        <mat-option value="">Please select</mat-option>
        @for (user of userList$ | async; track user) {
        <mat-option [value]="user.uid">{{ user.name }}</mat-option>
        }
      </mat-select>
      <mat-hint>The owner of the request</mat-hint>
    </mat-form-field>
    <!-- TYPE -->
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="">Please select</mat-option>
        @for (type of typeList; track type) {
        <mat-option [value]="type.value">{{ type.text }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <!-- STARTDATETIME -->
    <mat-form-field>
      <mat-label>Start DateTime</mat-label>
      <mtx-datetimepicker
        #startDatetimePicker
        type="datetime"
        mode="auto"
        multiYearSelector="month"
      >
      </mtx-datetimepicker>
      <input
        [mtxDatetimepicker]="startDatetimePicker"
        formControlName="startDateTime"
        matInput
      />
      <mtx-datetimepicker-toggle
        [for]="startDatetimePicker"
        matSuffix
      ></mtx-datetimepicker-toggle>
    </mat-form-field>
    <!-- ENDDATETIME -->
    <mat-form-field>
      <mat-label>End DateTime</mat-label>
      <mtx-datetimepicker
        #endDatetimePicker
        type="datetime"
        mode="auto"
        multiYearSelector="month"
      >
      </mtx-datetimepicker>
      <input
        [mtxDatetimepicker]="endDatetimePicker"
        formControlName="endDateTime"
        matInput
      />
      <mtx-datetimepicker-toggle
        [for]="endDatetimePicker"
        matSuffix
      ></mtx-datetimepicker-toggle>
    </mat-form-field>
    <!-- HOURS -->
    <mat-form-field>
      <mat-label>Hours</mat-label>
      <input
        matInput
        type="number"
        min="0"
        step="0.5"
        formControlName="hours"
      />
    </mat-form-field>
    <!-- REASON -->
    <mat-form-field>
      <mat-label>Reason</mat-label>
      <textarea matInput formControlName="reason"></textarea>
    </mat-form-field>
    <!-- REASON PRIORITY-->
    @if (reasonPriorityVisible()) {
    <mat-form-field>
      <mat-label>Reason priority</mat-label>
      <mat-select formControlName="reasonPriority">
        <mat-option value="">Please select</mat-option>
        @for (reasonPriority of reasonPriorityList; track reasonPriority) {
        <mat-option [value]="reasonPriority.value">{{
          reasonPriority.text
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    }
    <!-- PROXY -->
    @if (proxyVisible()) {
    <mat-form-field>
      <mat-label>Proxy</mat-label>
      <mat-select
        formControlName="proxyUserId"
      >
        <mat-option value="">Please select</mat-option>
        @for (user of userList$ | async; track user) {
        <mat-option [value]="user.uid">{{ user.name }}</mat-option>
        }
      </mat-select>
      <mat-hint>In case a proxy is provided, they will be contacted first. Otherwise, the responsibility will fall directly to the applicant.</mat-hint>
    </mat-form-field>
    }
    <!-- CALLOUT -->
    @if (calloutVisible()) {
    <mat-form-field>
      <mat-label>Callout</mat-label>
      <mat-select formControlName="callout">
        <mat-option value="">Please select</mat-option>
        @for (user of userList$ | async; track user) {
        <mat-option [value]="user.uid">{{ user.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="cancel()">Cancel</button>
  <button
    mat-button
    (click)="save()"
    [disabled]="attendanceForm.invalid"
  >
    Save
  </button>
</mat-dialog-actions>
