<!-- <app-layout></app-layout> -->

<div class="member-container">
  <h2>成員列表</h2>
  <table class="member-table">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Email</th>
        <th>Job Title</th>
        <th>Job Rank</th>
        <th>WFH</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ user.birthday }}</td>
        <td>{{ user.birthday }}</td>
        <td>{{ user.birthday }}</td>
        <td>{{ user.birthday }}</td>
        <td>{{ user.birthday }}</td>
        <td>{{ user.birthday }}</td>
        <td>{{ user.birthday }}</td>
      </tr>
    </tbody>
  </table>
</div>
