.mat-mdc-header-cell,
.mat-mdc-cell {
  min-width: 120px;
  box-sizing: border-box;
  white-space: nowrap;
}

.mat-column-startDate,
.mat-column-birthday,
.mat-column-exitDate {
  min-width: 140px;
}

.mat-column-contactInfo,
.mat-column-remainingLeaveHours {
  min-width: 200px;
}

.mat-column-remoteWorkEligibility {
  min-width: 200px;

  &.mat-mdc-cell {
    height: 110px;
  }
}

.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.mat-mdc-table-sticky-border-elem-top {
  border-bottom: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.mat-mdc-header-row,
.mat-mdc-row {
  min-width: 1500px;
}

.table-container {
  overflow: scroll;
  height: calc(100vh - 153px);
}
