<table
  mat-table
  [dataSource]="userArray"
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef>StartDate</th>
    <td mat-cell *matCellDef="let element">
      {{ showStarDate(element.startDate) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="jobTitle">
    <th mat-header-cell *matHeaderCellDef>Job-Title</th>
    <td mat-cell *matCellDef="let element">{{ element.jobTitle }}</td>
  </ng-container>

  <ng-container matColumnDef="jobRank">
    <th mat-header-cell *matHeaderCellDef>Job-Rank</th>
    <td mat-cell *matCellDef="let element">{{ element.jobRank }}</td>
  </ng-container>
  <ng-container matColumnDef="remoteWorkEligibility">
    <th mat-header-cell *matHeaderCellDef>WFH</th>
    <td mat-cell *matCellDef="let element">
      {{ element.remoteWorkEligibility }}
    </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let row">
      <button
        mat-icon-button
        aria-label="expand row"
        (click)="
          expandedElement = expandedElement === row ? null : row;
          $event.stopPropagation()
        "
      >
        @if (expandedElement === row) {
        <mat-icon>keyboard_arrow_up</mat-icon>
        } @else {
        <mat-icon>keyboard_arrow_down</mat-icon>
        }
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" colspan="6">
      <div
        class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
      >
        <ul>
          <li class="example-element-detail">電話:{{ element.phone }}</li>

          <li class="example-element-detail">
            生日:{{ showBirthday(element.birthday) }}
          </li>
          <li class="example-element-detail">
            特休:{{ element.remainingLeaveHours }}
          </li>
          <li class="example-element-detail">
            背書人:{{ element.uid | userName }}
          </li>
        </ul>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === row"
    (click)="expandedElement = expandedElement === row ? null : row"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: expandedDetail"
    class="example-detail-row"
  ></tr>
</table>
