:host {
  max-width: 100%;
  max-height: 100%;
}

/** MatTable style start */
.table-container {
  height: 525px;
  overflow: auto;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  min-width: 100px;
  box-sizing: border-box;
}

.mat-column-startDateTime,
.mat-column-endDateTime {
  min-width: 160px;
}

.mat-column-reason {
  min-width: 240px;
}

.mat-mdc-header-row,
.mat-mdc-row {
  min-width: 1260px;
}

.mat-mdc-table-sticky-border-elem-top {
  border-bottom: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
/** MatTable style end */
