<h2 mat-dialog-title>變更狀態為 {{ data.newStatus }}</h2>
<mat-dialog-content class="mat-typography">
  <div class="d-flex align-items-center my-3">
    <mat-icon [style.color]="sourceStatusIcon.color" [fontIcon]="sourceStatusIcon.name"></mat-icon>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
    <mat-icon [style.color]="targetStatusIcon.color" [fontIcon]="targetStatusIcon.name"></mat-icon>
  </div>
  @if(warningVisible()) {
    <div class="alert alert-warning" role="alert">
      <strong>注意！</strong> 變更狀態將會增加或扣除該使用者的假時數。
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close>放棄</button>
  <button type="button" mat-button (click)="updateStatus()">儲存</button>
</mat-dialog-actions>
