<mat-grid-list cols="4" rowHeight="200px" gutterSize="5px">
  <mat-grid-tile [colspan]="gridTile1colspan" rowspan="3">
    <!-- Grid 1 -->
    <app-attendance-list></app-attendance-list>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="gridTile2colspan"
    rowspan="3"
  >
    <!-- Grid 2 -->
    <section class="card-container">
      @for(user of userList$ | async; track user.uid ) {
        <app-user-card [user]="user"></app-user-card>
      }
    </section>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="1" [style.background]="'lightgray'">
    <!-- Grid 3 -->
    Coming Soon
  </mat-grid-tile>
</mat-grid-list>
