<div class="container d-flex justify-content-center align-items-center py-2">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Normal">
      <ng-container *ngTemplateOutlet="normalContent"></ng-container>
    </mat-tab>
    <mat-tab label="Advanced" *ngIf="isAdmin$ | async">
      <ng-container *ngTemplateOutlet="advancedContent"></ng-container>
    </mat-tab>
    <mat-tab label="Remaining Leave Hours">
      <ng-container
        *ngTemplateOutlet="remainingLeaveHoursContent"
      ></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #normalContent>
  <form
    class="d-flex flex-column gap-3"
    [formGroup]="profileForm"
    (ngSubmit)="normalFieldsUpdate()"
    novalidate
  >
    <!-- Photo -->
    <div class="avatar-layout">
      <div class="avatar-circle" (click)="openWidget()">
        <img
          [src]="photoUrl"
          *ngIf="photoUrl; else NoProfileImage"
          class="avatar-circle"
        />
        <!-- 沒網址顯示原先首字 -->
        <ng-template #NoProfileImage>
          <div *ngIf="userList$ | async as users">
            {{ users[0].name[0] }}
          </div>
        </ng-template>
      </div>
    </div>
    <h3 class="pt-3 text-center">{{ title }}</h3>

    <!-- Name -->
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" />
      <mat-icon matSuffix>title</mat-icon>
      <mat-hint>Enter you name</mat-hint>
    </mat-form-field>
    <!-- Phone -->
    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input type="text" matInput formControlName="phone" />
      <mat-icon matSuffix>call</mat-icon>
      <mat-hint>Enter you phone</mat-hint>
    </mat-form-field>
    <!-- Google -->
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="text" matInput formControlName="email" />
      <mat-icon matSuffix>mail</mat-icon>
      <mat-hint>Enter you Email</mat-hint>
    </mat-form-field>

    <!-- Remote Work Eligibility -->
    <mat-form-field appearance="outline">
      <mat-label>Remote Work Eligibility</mat-label>
      <mat-select formControlName="remoteWorkEligibility">
        @for (value of remoteWorkEligibilityOptions; track value) {
        <mat-option [value]="value">{{ value }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <!-- Remote Work Recommender -->
    <mat-form-field appearance="outline">
      <mat-label>Remote Work Recommender</mat-label>
      <mat-select formControlName="remoteWorkRecommender" multiple>
        @for (user of userList$ | async; track user.uid) {
        <mat-option [value]="user.uid">{{ user.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <!-- Birthday -->
    <mat-form-field appearance="outline">
      <mat-label>Birthday</mat-label>
      <mtx-datetimepicker
        #birthdayPicker
        type="date"
        mode="auto"
        multiYearSelector="month"
      >
      </mtx-datetimepicker>
      <input
        [mtxDatetimepicker]="birthdayPicker"
        formControlName="birthday"
        matInput
      />
      <mtx-datetimepicker-toggle
        [for]="birthdayPicker"
        matSuffix
      ></mtx-datetimepicker-toggle>
    </mat-form-field>
    <button type="submit" mat-flat-button [disabled]="profileForm.invalid">
      Update
    </button>
  </form>
</ng-template>

<ng-template #advancedContent>
  <form
    class="d-flex flex-column gap-3"
    [formGroup]="advancedForm"
    (ngSubmit)="advancedFieldsUpdate()"
    novalidate
  >
    <h3 class="pt-3 text-center">{{ title }}</h3>
    <!-- Job Title -->
    <mat-form-field appearance="outline">
      <mat-label>Job Title</mat-label>
      <input type="text" matInput formControlName="jobTitle" />
      <mat-icon matSuffix>badge</mat-icon>
      <mat-hint>Enter you job title</mat-hint>
    </mat-form-field>
    <!-- Job Rank -->
    <mat-form-field appearance="outline">
      <mat-label>Job Rank</mat-label>
      <input type="text" matInput formControlName="jobRank" />
      <mat-icon matSuffix>military_tech</mat-icon>
      <mat-hint>Enter you job rank</mat-hint>
    </mat-form-field>
    <!-- Role -->
    <mat-form-field appearance="outline">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        @for (role of roleOptions; track role) {
        <mat-option [value]="role">{{ role }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <!-- Start Date -->
    <mat-form-field appearance="outline">
      <mat-label>Start Date</mat-label>
      <mtx-datetimepicker
        #startDatePicker
        type="date"
        mode="auto"
        multiYearSelector="month"
      >
      </mtx-datetimepicker>
      <input
        [mtxDatetimepicker]="startDatePicker"
        formControlName="startDate"
        matInput
      />
      <mtx-datetimepicker-toggle
        [for]="startDatePicker"
        matSuffix
      ></mtx-datetimepicker-toggle>
    </mat-form-field>
    <!-- Exit Date -->
    <mat-form-field appearance="outline">
      <mat-label>Exit Date</mat-label>
      <mtx-datetimepicker
        #exitDatePicker
        type="date"
        mode="auto"
        multiYearSelector="month"
      >
      </mtx-datetimepicker>
      <input
        [mtxDatetimepicker]="exitDatePicker"
        formControlName="exitDate"
        matInput
      />
      <mtx-datetimepicker-toggle
        [for]="exitDatePicker"
        matSuffix
      ></mtx-datetimepicker-toggle>
    </mat-form-field>

    <button type="submit" mat-flat-button [disabled]="advancedForm.invalid">
      Update
    </button>
  </form>
</ng-template>

<ng-template #remainingLeaveHoursContent>
  <div class="d-flex flex-column gap-3">
    <button type="button" mat-button disabled>
      <mat-icon>local_cafe</mat-icon>
      Remaining {{ remainingLeaveHours() }} hours
    </button>

    @if(isAdmin$ | async) {
    <button type="button" mat-fab extended (click)="settlement()">
      <mat-icon>favorite</mat-icon>
      Settlement
    </button>
    }

    <section class="table-container mat-elevation-z8">
      <mat-table [dataSource]="(leaveTransactionHistory$ | async)!">
        <!-- Date -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.date | firestoreTimestamp
          }}</mat-cell>
        </ng-container>
        <!-- Hours -->
        <ng-container matColumnDef="hours">
          <mat-header-cell *matHeaderCellDef>Hours</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.hours }}</mat-cell>
        </ng-container>
        <!-- Reason -->
        <ng-container matColumnDef="reason">
          <mat-header-cell *matHeaderCellDef>Reason</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.reason }}</mat-cell>
        </ng-container>
        <!-- Action by -->
        <ng-container matColumnDef="actionBy">
          <mat-header-cell *matHeaderCellDef>Action by</mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.actionBy | userName
          }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </section>

    @if(isAdmin$ | async) {
    <form
      class="d-flex flex-column gap-3"
      [formGroup]="remainingLeaveHoursForm"
      (ngSubmit)="leaveTransaction()"
      novalidate
    >
      <h6 class="text-center">Add/Deduct</h6>
      <!-- HOURS -->
      <mat-form-field appearance="outline">
        <mat-label>Hours</mat-label>
        <input matInput type="number" step="0.5" formControlName="hours" />
      </mat-form-field>
      <!-- REASON -->
      <mat-form-field appearance="outline">
        <mat-label>Reason</mat-label>
        <textarea matInput formControlName="reason"></textarea>
      </mat-form-field>
      <button
        type="submit"
        mat-flat-button
        [disabled]="remainingLeaveHoursForm.invalid"
      >
        Submit
      </button>
    </form>
    }
  </div>
</ng-template>

<ng-template #confirmationDialog let-data>
  <h2 mat-dialog-title>Full {{ data.yearCompleted }} years</h2>
  <mat-dialog-content class="mat-typography">
    <p>Add hours: {{ data.leaveDays * 8 }}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>No Thanks</button>
    <button mat-button [mat-dialog-close]="true">Ok</button>
  </mat-dialog-actions>
</ng-template>
