<div class="container d-flex justify-content-center align-items-center vh-100">
  <form
    class="d-flex flex-column gap-3"
    [formGroup]="registerForm"
    novalidate
    (ngSubmit)="register()"
  >
    <h3>Register</h3>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" />
      <mat-icon matSuffix>mail</mat-icon>
      <mat-hint>Enter you email</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
      <mat-icon matSuffix>password</mat-icon>
      <mat-hint>Enter you password</mat-hint>
    </mat-form-field>
    <button type="submit" mat-flat-button [disabled]="registerForm.invalid">
      CREATE
    </button>
    <mat-divider></mat-divider>
    <p>
      Already a member?
      <a
        class="link-offset-2 link-underline link-underline-opacity-0"
        [routerLink]="['/Login']"
        >SIGN IN</a
      >
    </p>
  </form>
</div>
